* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
   
}

/* hearder */
#fixtop {

    top: 50px;
    width: 100%;
    position: absolute;
    position: fixed;
    background-color: white;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: 3;
    /* max-width: 1200px; */
    margin: 0 auto;
    

}



#fixtop .navbar-nav {
    position: absolute;
    right:0;


}

#fixtop .nav-link {
    /* color: #189a46; */
    font-size: 19.2px;
    padding: 6px;
    font-weight: 500;
    transition: 0.7s;

}
#fixtop a, #fixtop ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
}
#fixtop .nav-item a {
    font-weight: 600;
    color: black;
    position: relative;
    overflow: hidden;
}

#fixtop .nav-item a::after {
    background-color: #189a46;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    position: absolute;
    transition: 1s;
}

#fixtop .nav-link:hover {
    color: #189a46;
}

#fixtop .nav-link:hover::after {
    width: 100%;
    transform: translateX(0);
}

/* end header */
#carouselExampleIndicators {
    top: 0;
    content: "";

}

#carouselExampleIndicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}



#carouselExampleIndicators li.active {
    background-color: #189a46;
    width: 35px;
    height: 10px;
    border-radius: 20px;

}

#carouselExampleIndicators .carousel-item {
    

    background-color: #1d1a1a;
    content: "";
 

}

#carouselExampleIndicators .carousel-item .item-text {
    position: absolute;
    color: white;
    top: 20%;
    left: 20%;
}

#carouselExampleIndicators .carousel-item .item-text h1 {
    font-size: 55px;
    font-weight: 700;
}

#carouselExampleIndicators .carousel-item .item-text p {
    font-size: 16px;
}
#carouselExampleIndicators #next{
    opacity: 0;
}


#carouselExampleIndicators .carousel-item button {
    padding: 12px 35px;
    display: block;
    border: 1px #189a46 solid;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    color: #189a46;
}
#carouselExampleIndicators .carousel-item span{
    padding: 12px 35px;
    display: block;
    border: 1px white solid;
    position: absolute;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    color: white;
    left: 34%;
    cursor: pointer;
}
#carouselExampleIndicators .carousel-item span:hover{
    border: 1px #189a46 solid;
    background-color: white;
    color: #189a46;
    transition: 1s;
}
/* Aboutus */
#aboutus {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;

}

#aboutus p {
    color: #f53626;
    font-size: 18px;
}

#aboutus h2 {
    font-size: 35px;
    font-weight: 600;
}

#aboutus a {
    text-decoration: underline #189a46 2px;
    color: black;
    font-weight: 400;
}

#aboutus a:hover {
    color: #189a46;
    transition: 0.5s;
}


/* flex */
#flex {
    justify-content: center;
}

.flex1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: rgba(148, 134, 134, 0.2);
    justify-content: center;


}

.flex_item {
    width: 30%;
    padding: 40px;
    background-color: white;
    /* border: 1px #189a46 solid; */
    margin: 20px;

}

.flex_item:hover {
    opacity: 0.8;
}

.flex_item i {
    color: #189a46;
}

.flex_item h2 {
    font-weight: 600;
}

.flex_item a {
    text-decoration: underline #189a46 2px;
    color: black;
    font-weight: 400;
}

#flex {
    justify-content: center;
}

/* Whychooseus */
#whychooseus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
    /* position: relative; */
    margin-bottom: 60px;

}

#whychooseus .item_img {
    width: 50%;
    height: 50%;
    text-align: right;
    

}
.item_img img
{
    border-radius: 10px;
}

#whychooseus .item_text {
    width: 50%;
    height: 100%;

    align-items: center;
    margin: auto 0;
    margin-left: 50px;


}

#whychooseus .item_text span {
    color: #f53626;
    font-size: 18px;
}

#whychooseus .item_text h2 {
    font-size: 35px;
    font-weight: 600;
}

#whychooseus .item_text p {
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
}

#whychooseus .item_text i {
    color: #189a46;
    padding: 5px;
}
/* hearder */

/* number */
.number {
    background-color: #189A46;
}

.number__row {
    text-align: center;
}
.number__item h2{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}
.number__item p{
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

/* number */

/* plans */
.plans
{
    background: rgba(147, 107, 232, 0.05);
}
.plans__text h6
{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #f53626;
}
.plans__text h3
{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 48px;
    text-transform: capitalize;
}
.plans__text
{
    margin-bottom: 70px;
}
.plans__grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5% auto;
    margin-top: 0;
}

.grid
{
    background: #fff;
    border-radius: 6px;
    align-self: center;
}
.grid__1 .grid__content
{
    padding: 3.5em 2.5em;
    border-right: 0;
}
.grid__content h6
{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.grid__content h4
{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
}
.grid__content h4 label
{
    font-size: 25px;
    vertical-align: text-top;
}
.grid__content h4 span
{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}
.grid__list
{
    text-align: center;
    padding-top: 1em;
}
.grid__list li
{
    list-style: none;
    margin-bottom: 5px;
    color: #304659;
}
.grid__header
{
    text-align: center;
}
.grid__list li p
{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
    color: #696969;
}


.grid__list button
{
    margin-top: 2em;
    padding: 12px 35px;
    border-radius: 10px;
}

.grid__2
{
 
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
    border-radius: 6px;
}
.grid__2 .grid__header
{
    padding: 3em 2.5em 0.5em;
    background: #189A46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.grid__2 .grid__header h6
{
    color: #fff;
  
}
.grid__2 .grid__header h4
{
    color: #fff;
  
}
.grid__2 .grid__header h4 span
{
    color: #eee;
}
.grid__2 .grid__list
{
    padding: 2em 2.5em 3.5em;
}

.grid__header h5
{
    font-size: 15px;
    line-height: 20px;
    color: #189A46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}
/* plans */

/* better */

.better__content
{
    max-width: 950px;
    margin: 0 auto;
}
    .better__text h6
    {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;

    }
    .better__text h3
    {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        text-transform: capitalize;
    }
    .better__text p{
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        line-height: 28px;
        color:#696969;
        font-family: 'Jost', sans-serif;
    }
    .better__video
    {
        position: relative;
    }
    .better__video a{
        position: absolute;
        left: 0;
        right: 0;
        top: calc(50% - 40px);
        text-align: center;
    }
    .video-play-icon
    {
        background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
    }
    .video-play-icon span
    {
        color: #189A46;
        line-height: 55px;
    }
    .better__video img
    {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    
 
    
/* better */



/* Start testimonial  */
#testimonials {
    padding: 40px 0px;
    margin-top: 40px;
   
   
    
  }
  #testimonials h1 {
    font-size: 40px;
    
  }
  #testimonials .item p {
    color: #696969;
  }
  #testimonials .item {
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 50px;
  }
  #testimonials .item i {
    font-size: 30px;
    color: #189a46;
  }
  #testimonials .title p {
    font-size: 18px;
    color: #f53626;
  }
  #testimonials .quote-mark {
    font-family: "Merriweather", serif;
  }
  #testimonials .carousel-indicators li {
    background-color: #189a46;
  }
  #testimonials .user-info img {
    width: 80px;
    height: 80px;
  }
  #testimonials .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    width: 30px;
    background: #189a46;
  }
  #testimonials .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /* End testimonial */
  
  /* Start subscribe */
  #subscribe.container {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #subscribe h1 {
    font-size: 40px;
  }
  #subscribe .description {
    font-size: 20px;
    color: #696969;
  }
  #subscribe .form-control {
    padding: 28px 10px;
    border-radius: 8px;
  }
  #subscribe .form-group {
    margin-bottom: 0px;
  }
  #subscribe .form-control:focus {
    border: 1px solid #189a46;
    outline: none;
  }
  #subscribe .form-control:focus {
    box-shadow: none;
  }
  #subscribe .btn-primary {
    height: 60px;
    border-radius: 8px;
    background-color: #189a46;
    border-color: #189a46;
    font-size: 18px;
  }
  #subscribe .btn-primary:hover {
    background-color: #116e32;
    border-color: #116e32;
  }
  #subscribe .btn-primary:focus {
    box-shadow: none;
  }
  /* End subscribe */
  
  /* Start footer */
  footer {
    background-color: #111111;
  }
  footer li {
    list-style: none;
    margin-top: 5px;
  }
  footer li:hover {
    color: white;
    text-decoration: underline;
  }
  footer .social-links i:hover {
    color: white;
  }
  footer hr {
    opacity: 50%;
  }
  
  /* End footer */
  


  /* Light theme */
#myBody{
    background-color:white;
  }
  #switchButton {
    background-color: white;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color:black;
  }
  .dark #switchButton {
    background-color: black;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: white;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: #151515;
    color: white;
  }
  
  .dark .card1
  {
    background-color: #222;
  }
  .dark .cardlg
  {
    color: white;
  }
  .dark .cardlg a
  {
    color: white;
  }
  .dark .card3
  {
    background-color: #151515;
    color: #afafaf;
    border-radius: 10px;
    
  }
  .dark .cardtext
  {
    color: #696969;
  }
  
  .dark .card2
  {
    background-color: #151515;
    color: white;

  }
  .dark .card2 a
  {

    color: white;

  }
 